<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="container"> 
        <div class="kavoon"> 
            <h1>Servidor</h1>
        </div>
        <div class="h2">
            <h2>Formulário</h2>
            <h2>Login usuário</h2>
        </div>
        <div class="p">
            <form action="/logar" method="POST">
                <p><input type="text" name="login" placeholder="Digite seu login" required></p>
                <p><input type="password" name="senha" placeholder="Digite sua senha" required></p>
                <button type="submit">Logar</button>
            </form>
        </div>
    </div>
</body>
</html>