<!DOCTYPE html!> 
<html>
    <head>
        <title>Meus Projetos</title>
         <link rel="stylesheet" href="estilo.css">
    </head>
    <body>
            <h1>PROJETOS</h1>
        <table border ="2">
            <tr>
                <td>Lab1</td><td><a href="/lab1/index.html"></a></td>
            </tr>
            <tr>
                <td>Lab2</td><td><a href="/lab2/index.html"></a></td>
            </tr>
            <tr>
                <td>Lab3</td><td><a href=""></a></td>
            </tr>
            <tr>
                <td>Adivinhação</td><td><a href="/lab4/guess.html">ADIVINHE SE PUDER</a></td>
            </tr>
            <tr>
                <td>Canvas</td><td><a href="../lab5/canvas.html">Canvas</a></td>
            </tr>
            <tr>
                <td>Animação</td><td><a href="/lab6/intex.html"></a>Praia</td>
            </tr>
            <tr>
                <td>lab7</td><td><a href="/lab7/servidor.html"></a>lab7</td>
            </tr>
            <tr>
                <td>lab8</td><td><a href="/lab8/views/project.html"></a>lab8</td>
            </tr>
        </table>
        <a href="index.html">HOME</a>
        </div>
    </body>
</html>